body{
	font-size: 12px;
	font-family: Source Code Pro;
	vertical-align: baseline;
}

.header{
	margin-top: 40px;
	padding-bottom: 40px;
	border-bottom: 2px grey solid;
	margin-bottom: 40px;
	font-size: 300%;
	font-family: Source Code Pro;
	text-align: center;
	line-height: 40px;
}

.intro{
	float: right;
	font-family: Menlo;
}

.score{
	margin-bottom: 40px;
	font-size: 200%;
	font-family: Menlo;
}

.start{
	text-align: center;
	font-family: Menlo;
	font-size: 30%;
}

.scene{
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 500px;
}

.node{
	border-radius: 10px;
	position: relative;
	float: left;
	width: 10px;
	height: 10px;
	background-color: #888888;
}


.footer{
	margin-top: 40px;
	border-top: 2px grey solid;
	padding-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	color: grey;
}